html, *, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    user-select: none;
}

@font-face {
    font-family: 'tillana-bold';
    src: url('./fonts/tillana-bold-webfont.woff2') format('woff2'),
         url('./fonts/tillana-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Oleo Script Swash Caps', cursive;
    position: relative;
}

p:empty {
    height: 18px;
}

/* -------------- Header ------------- */

header {
    background-color: #D9CE3F;
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 3px;
    width: 100vw;
}

header > h1 {
    color: #E83A14;
    font-family: 'Bangers', cursive;
    font-size: 48px;
    letter-spacing: 3px;
}

/* -------------- Main and player spaces ------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 75px);
    position: relative;
}

.player-space {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 212px;
}

.player-space > .player-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    padding: 5px 20px;
}

.player-space > .is-playing {
    animation: pulse-card 2s infinite;
}

@keyframes pulse-card {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 #D9CE3F;
	}

	50% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #E83A14;
	}

	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 #D9CE3F;
	}
}

.player-space > .player-card > .player-icon {
    font-size: 85px;
    text-align: center;
}

/* .player-space > .player-card > .is-playing {
    animation: pulse-icon 2s infinite;
} */

.player-space > .player-card > .player-info {
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    text-align: center;
}

.player-space > .player-card > .player-info > .player-score {
    color: #8b0000;
    display:inline-block;
    font-family: 'tillana-bold';
    text-align: center;
    letter-spacing: 5px;
}

/* --------------- Game board ---------------- */

.game-space {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 300px;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    min-height: 200px;
    width: 90%;
}

.game-board {
    background-color: black;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    flex-shrink: 1;
    gap: 3px;
    height: min(50vh, 700px);
    min-height: 350px;
    min-width: 350px;

}

.game-board .grid-space {
    background-color: white;
    font-size: 450%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board .grid-space:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


/* ------------- End game modal --------------- */

.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    visibility: hidden;
}

.modal-background .end-game-modal {
    background-color: #FFF;
    border-radius: 10px;
    display: grid;
    gap: 5px;
    grid-template: repeat(2, 1fr) auto / repeat(2, 1fr);
    padding: 20px;
    margin-top: -100px;
    height: auto;
    width: 400px;
}

.modal-background .end-game-modal p {
    font-size: 3rem;
    justify-self: center;
    align-self: center;
}

.modal-background .end-game-modal p:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.modal-background .end-game-modal p:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 3;
}

.modal-background .end-game-modal button {
    align-self: center;
    justify-self: center;
    font-size: 1.6rem;
    height: 35px;
    width: 80%;
}

.modal-background .end-game-modal button:nth-of-type(1) {
    grid-area: 3 / 1;
}

.modal-background .end-game-modal button:nth-of-type(2) {
    grid-area: 3 / 2;
}

/* ------------- Footer --------------- */

footer {
    color:rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1079px) {
    main {
        display: grid;
        grid-template-columns: auto 2fr auto;
        min-height: calc(100vh - 75px);
    }

    header {
        padding: 10px;
    }

    header > h1 {
        font-size: 48px;
    }

    main > .player-space:first-of-type {
        margin-left: 8vw;
    }

    main > .player-space:last-of-type {
        margin-right: 8vw;
    }

    .player-space > .player-card,
    .board-container {
        padding: 50px 25px;
        height: 750px;
    }

    .board-container > .game-board {
        
        width: 750px;
    }

    .player-space > .player-card > .player-icon {
        font-size: 102px;
    }
    
    .player-space > .player-card > .player-info {
        font-size: 48px;
    }

    @media screen and (max-height: 820px) {
        footer {
            display: none;
        }
    }
}


@media screen and (max-height: 820px) {
    footer {
        display: none;
    }
}

@media screen and (max-height: 660px) {
    header {
        display: none;
    }
}